 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 324px;
	 height: 205px; 
	 overflow: hidden;
	 z-index:0;
	 background-color: black;
	} 

 #Layer0 
{ 
	 left: 493px; 
	 top: 171px; 
	 position: absolute; 
	 height: 64px;
	 z-index:1;
} 

 #Layer0_0 
{ 
	 left: 0px; 
	 top: -1px; 
	 position: absolute; 
	 
	 height: 639px;
	 z-index:2;
} 

 #Issuedbyborder > img
{ 
	 left: 8px; 
	 top: 161px; 
	 position: absolute; 
	 width: 96px;
	 height: 27px;
	 z-index:3;
} 

 #signatureborder > img
{ 
	 left: 226px; 
	 top: 161px; 
	 position: absolute;
	 width: 96px; 
	 height: 27px;
	 z-index:4;
} 

 #nepalgovernment > img
{ 
	 left: 8px; 
	 top: 5px; 
	 position: absolute; 
	 width: 29px;
	 height: 29px;
	 z-index:5;
} 

 #watermark >img
{ 
	 left: 137px; 
	 top: 60px; 
	 position: absolute; 
	 width: 116px;
	 height: 94px;
	 z-index:6;
} 

 #Flag > img
{ 
	 left: 293px; 
	 top: 5px; 
	 position: absolute;
	 width: 29px; 
	  height: 29px;
	 z-index:7;
} 

 #map > img 
{ 
	 left: 138px; 
	 top: 161px; 
	 position: absolute;
	 width: 50px; 
	 	 height: 24px;
	 z-index:8;
} 

 #signature > img
{ 
	 left: 24px; 
	 top: 165px; 
	 position: absolute;
	 width: 66px; 
	 height: 20px;
	 z-index:9;
} 

 #signature_0 > img
{ 
	 left: 245px; 
	 top: 165px; 
	 position: absolute;
	 width: 66px; 
	 height: 20px;
	 z-index:5;
} 

 #Picture > img
{ 
	 left: 8px; 
	 top: 61px; 
	 position: absolute; 
	 width: 80px;
	 height: 80px;
	 z-index:11;
} 

 #Smartidentitycard > img 
{ 
	 left: 78px; 
	 top: 24px; 
	 position: absolute;
	 width: 177px; 
	 height: 8px;
	 z-index:12;
} 

 #CardNo010600045334 > p
{ 
	 left: 8px; 
	 top: 37px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:13;
} 

 #IssuedBy > img
{ 
	 left: 33px; 
	 top: 189px; 
	 position: absolute; 
	 width: 55px;
	 height: 13px;
	 z-index:15;
} 

 #SignatureofHolder > img
{ 
	 left: 237px; 
	top: 189px; 
	 position: absolute; 
	 width: 79px;
	 height: 13px;
	 z-index: 15;
} 

 #Governmentofnepal > img
{ 
	 left: 48px; 
	 top: 9px; 
	 position: absolute; 
	 width: 236px;
	height: 13px;
	 z-index:18;
} 

 #NameRAMBAHADURSHARMA > p
{ 
	 left: 120px; 
	 top: 37px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:19;
} 

 #DOB09061990 > p
{ 
	 left: 120px; 
	 top: 81px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:20;
} 

 #FHNameHariSharma > p
{ 
	 left: 120px; 
	 top: 96px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:21;
} 

 #CitizenshipNo2803065 > p
{ 
	 left: 120px; 
	 top: 110px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:22;
} 

 #PassportNo2803065986 > p
{ 
	 left: 120px; 
	 top: 125px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:23;
} 

 #PhoneNo9812345678 > p
{ 
	 left: 120px; 
	 top: 140px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:24;
} 

 #AddressBaneshowr06 > p
{ 
	 left: 120px; 
	 top: 50px; 
	 position: absolute; 
	 font-size: 10px;
	 font-weight: bold;
	 z-index:25;
} 
#location{
	padding-left: 25px;
}